.login {
  margin: auto;
  display: grid;
  align-self: center;
  width: 396px;
  align-items: center;
  grid-template-areas: "logo logo" "welcome welcome" "title-name title-name" "name name" "title-email title-email" "email email" "title-password title-password" "password password" "error error" "button button" "text link";
  color: rgba(255, 255, 255, 1);
}

.login__logo {
  margin: 0;
  margin-bottom: 40px;
  grid-area: logo;
}

.login__welcome {
  margin: 0;
  margin-bottom: 40px;
  grid-area: welcome;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.login__title {
  margin: 0;
  margin-bottom: 5px;
  grid-area: title-name;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(139, 139, 139, 1);
}

.login__title:nth-child(5) {
  grid-area: title-email;
}

.login__input {
  margin: 0;
  height: 46px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-left: 15px;
  grid-area: name;
  border: none;
  background: none;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 8px;
  background-color: #F9F9F9;
}
.login__input:focus-visible {
  border-bottom: 1px solid #000000;
}
.login__input:focus {
  outline: none;
}

.login__input:nth-child(6) {
  grid-area: password;
  margin-bottom: 10px;
}

.login__input-error {
  margin: 0;
  grid-area: error;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 48, 85, 1);
}

.login__button-login {
  margin: 0;
  margin-bottom: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: button;
  height: 45px;
  border: none;
  border-radius: 3px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background: #000000;
}

.login__button-login:hover {
  opacity: 0.5;
  transition: linear 0.5s;
}

.login__text {
  margin: 0;
  width: fit-content;
  margin-left: auto;
  margin-right: 6px;
  grid-area: text;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(160, 160, 160, 1);
}

.login__link {
  margin: 0;
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
  grid-area: link;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
}

.login__link:hover {
  opacity: 0.5;
  transition: linear 0.5s;
}

@media screen and (min-width: 1280px) {
  .login {
      margin-bottom: 70px;
  }
  .login__logo {
      margin-top: 70px;
  }
  .login__input-error {
      margin-bottom: 209px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .login {
      margin-bottom: 254px;
  }
  .login__logo {
      margin-top: 234px;
  }
  .login__input-error {
      margin-bottom: 185px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .login {
      margin-bottom: 30px;
      width: 260px;
  }
  .login__logo {
      justify-self: center;
      margin-top: 56px;
      margin-bottom: 50px;
  }
  .login__welcome {
      justify-self: center;
      margin-bottom: 80px;
  }
  .login__input-error {
      margin-bottom: 297px;
      font-size: 10px;
      line-height: 12px;
  }
  .login__button-login {
      margin-bottom: 14px;
      font-size: 12px;
      line-height: 15px;
  }
  .login__text {
      margin-right: 7px;
      font-size: 12px;
      line-height: 15px;
  }
  .login__link {
      font-size: 12px;
      line-height: 15px;
  }
}
