.aboutProject {
    margin: 0;
    display: grid;
    grid-template-areas: "title title" "heading1 heading2" "text1 text2" "prog-bar1 prog-bar2" "prog-title1 prog-title2";
    background-color: rgba(255, 255, 255, 1);
}

.aboutProject__title {
    display: flex;
    margin: 0;
    padding-bottom: 23px;
    margin-bottom: 70px;
    grid-area: title;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.04em;
    text-align: left;
    border-bottom: 1px solid #000000;
    color: #000000
}

.aboutProject__heading {
    margin: 0;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.04em;
    text-align: left;
    grid-area: heading1;
    color: #000000;
}

.aboutProject__heading:nth-child(2) {
    grid-area: heading2;
}

.aboutProject__text {
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    grid-area: text1;
    color: #000000;
}

.aboutProject__text:nth-child(3) {
    grid-area: text2;
}

.aboutProject__progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: prog-bar1;
    background: #000000;
    font-family: Inter;
    height: 36px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);
}

.aboutProject__progress-bar:nth-child(7) {
    grid-area: prog-bar2;
    background: #F2F2F2;
    color: #000000;
    width: auto;
}

.aboutProject__progress-title {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: prog-title1;
    font-family: Inter;
    font-size: 14px;
    height: 36px;
    margin-top: -15px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    color: rgba(139, 139, 139, 1);
}

.aboutProject__progress-title:nth-child(9) {
    grid-area: prog-title2;
    width: auto;
}

@media screen and (min-width: 1280px) {
    .aboutProject {
        margin-left: 70px;
        margin-right: 70px;
        column-gap: 40px;
    }
    .aboutProject__title {
        margin-top: 110px;
    }
    .aboutProject__heading {
        margin-bottom: 26px;
    }
    .aboutProject__text {
        width: 550px;
        margin-bottom: 110px;
        font-size: 14px;
        line-height: 20px;
    }
    .aboutProject__progress-bar {
        width: 228px;
    }
    .aboutProject__progress-bar:nth-child(7) {
        margin-left: -362px;
    }
    .aboutProject__progress-title {
        width: 228px;
        margin-bottom: 110px;
    }
    .aboutProject__progress-title:nth-child(9) {
        margin-left: -361px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .aboutProject {
        margin-left: 50px;
        margin-right: 50px;
        column-gap: 30px;
    }
    .aboutProject__title {
        margin-top: 90px;
    }
    .aboutProject__heading {
        margin-bottom: 22px;
    }
    .aboutProject__text {
        width: 319px;
        margin-bottom: 93px;
        font-size: 12px;
        line-height: 18px;
    }
    .aboutProject__progress-bar {
        width: 140px;
    }
    .aboutProject__progress-bar:nth-child(7) {
        margin-left: -210px;
    }
    .aboutProject__progress-title {
        width: 139px;
        margin-bottom: 90px;
    }
    .aboutProject__progress-title:nth-child(9) {
        margin-left: -210px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .aboutProject {
        margin-left: 18px;
        margin-right: 18px;
        grid-template-areas:
        "title title"
        "heading1 heading1"
        "text1 text1"
        "heading2 heading2"
        "text2 text2"
        "prog-bar1 prog-bar2"
        "prog-title1 prog-title2";
        column-gap: 30px;
    }
    .aboutProject__title {
        margin-top: 70px;
        padding-bottom: 28px;
    }
    .aboutProject__heading {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 16px;
    }
    .aboutProject__text {
        width: 284px;
        margin-bottom: 56px;
        font-size: 11px;
        line-height: 16px;
    }
    .aboutProject__progress-bar {
        width: 100px;
        font-size: 11px;
        line-height: 14px;
    }
    .aboutProject__progress-bar:nth-child(7) {
        margin-left: -107px;
    }
    .aboutProject__progress-title {
        width: 100px;
        margin-top: -12px;
        font-size: 11px;
        line-height: 14px;
        margin-bottom: 58px;
    }
    .aboutProject__progress-title:nth-child(9) {
        margin-left: -107px;
    }
  }
