.account-button__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  margin-bottom: 0;
}

.account-button__button {
  margin-left: 13px;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 6px;
}

@media screen and (max-width: 850px) {
  .account-button {
      display: none;
  }
}
